.row-fluid
  .span12
    %h2= @user.name

    .row-fluid
      .span3
        = image_tag @user.image
      .span4
        %h4= t(".Summary")
        %p
          - Metric.all.each do |metric|
            %strong
              = metric.name
            %strong
              = @user.commit_metrics.where(metric_id: metric.id).average(:percent)
            %br

      .span5
        %h4= t(".Badges")


.b-dots

.row-fluid
  .span6
    %h2= t('.Top 10 best commits')
    .commit-block
      .item
        .rate 100%
        .subcontent
          %a.name{:href => "#"}
            Refactoring view of courses
          .summary
            .pull-left
              %small
                %a.repo{:href => ""} Andrew8xx8/awesome-cropper
              %br
              %small
                %a.author{:href => ""} Panfilov Denis
            .pill-right.right
              %small 16 March 2013
            .clearfix
      .item
        .rate 98%
        .subcontent
          %a.name{:href => "#"}
            Adding right accessing to the profile of user
          .summary
            .pull-left
              %small
                %a.repo{:href => ""} Andrew8xx8/awesome-cropper
              %br
              %small
                %a.author{:href => ""} Panfilov Denis
            .pill-right.right
              %small 16 March 2013
            .clearfix
      .item
        .rate 80%
        .subcontent
          %a.name{:href => "#"}
            Merge branch 'feature/session_and_pages_58_86' into develop branch 'feature/session_and_pages_58_86' into develop
          .summary
            .pull-left
              %small
                %a.repo{:href => ""} Andrew8xx8/awesome-cropper
              %br
              %small
                %a.author{:href => ""} Panfilov Denis
            .pill-right.right
              %small 16 March 2013
            .clearfix
      .item
        .rate 75%
        .subcontent
          %a.name{:href => "#"}
            Merge branch 'feature/material_and_task_in_course' into develop
          .summary
            .pull-left
              %small
                %a.repo{:href => ""} Andrew8xx8/awesome-cropper
              %br
              %small
                %a.author{:href => ""} Panfilov Denis
            .pill-right.right
              %small 16 March 2013
            .clearfix
      .item
        .rate 64%
        .subcontent
          %a.name{:href => "#"}
            Adding style for menu viewing correct
          .summary
            .pull-left
              %small
                %a.repo{:href => ""} Andrew8xx8/awesome-cropper
              %br
              %small
                %a.author{:href => ""} Panfilov Denis
            .pill-right.right
              %small 16 March 2013
            .clearfix
      .item
        .rate 32%
        .subcontent
          %a.name{:href => "#"}
            Using routing hash for checking current controller
          .summary
            .pull-left
              %small
                %a.repo{:href => ""} Andrew8xx8/awesome-cropper
              %br
              %small
                %a.author{:href => ""} Panfilov Denis
            .pill-right.right
              %small 16 March 2013
            .clearfix
  .span6
    %h2= t('.Top 10 worst commits')
    .commit-block.worse
      .item
        .rate 0%
        .subcontent
          %a.name{:href => "#"}
            Merge branch 'feature/material_and_task_in_course' into develop
          .summary
            .pull-left
              %small
                %a.repo{:href => ""} Andrew8xx8/awesome-cropper
              %br
              %small
                %a.author{:href => ""} Panfilov Denis
            .pill-right.right
              %small 16 March 2013
            .clearfix
      .item
        .rate 1%
        .subcontent
          %a.name{:href => "#"}
            Adding style for menu viewing correct
          .summary
            .pull-left
              %small
                %a.repo{:href => ""} Andrew8xx8/awesome-cropper
              %br
              %small
                %a.author{:href => ""} Panfilov Denis
            .pill-right.right
              %small 16 March 2013
            .clearfix
      .item
        .rate 2%
        .subcontent
          %a.name{:href => "#"}
            Using routing hash for checking current controller
          .summary
            .pull-left
              %small
                %a.repo{:href => ""} Andrew8xx8/awesome-cropper
              %br
              %small
                %a.author{:href => ""} Panfilov Denis
            .pill-right.right
              %small 16 March 2013
            .clearfix
      .item
        .rate 7%
        .subcontent
          %a.name{:href => "#"}
            Refactoring view of courses
          .summary
            .pull-left
              %small
                %a.repo{:href => ""} Andrew8xx8/awesome-cropper
              %br
              %small
                %a.author{:href => ""} Panfilov Denis
            .pill-right.right
              %small 16 March 2013
            .clearfix
      .item
        .rate 9%
        .subcontent
          %a.name{:href => "#"}
            Adding right accessing to the profile of user
          .summary
            .pull-left
              %small
                %a.repo{:href => ""} Andrew8xx8/awesome-cropper
              %br
              %small
                %a.author{:href => ""} Panfilov Denis
            .pill-right.right
              %small 16 March 2013
            .clearfix
      .item
        .rate 11%
        .subcontent
          %a.name{:href => "#"}
            Merge branch 'feature/session_and_pages_58_86' into develop
          .summary
            .pull-left
              %small
                %a.repo{:href => ""} Andrew8xx8/awesome-cropper
              %br
              %small
                %a.author{:href => ""} Panfilov Denis
            .pill-right.right
              %small 16 March 2013
            .clearfix
