.row-fluid
  .span12
    %h2= @user.name

    .row-fluid
      .span2
        = image_tag @user.image, class: "img-polaroid"
      .span4
        %h4= t(".Summary")
        %p
          - Metric.all.each do |metric|
            %strong
              = metric.name
            %strong
              = number_to_percentage @user.commit_metrics.where(metric_id: metric.id).average(:percent), :precision => 1
            %br

      .span6
        %h4= t(".Badges")


.b-dots

-if @user.committer
  = render 'web/shared/commits', commits: @user.committer.commits
