!!!
%html
  %head
    = render 'layouts/web/shared/head'
  %body
    .main
      - if signed_in?
        = render :partial => 'layouts/web/shared/menu'
      %header
        .container-fluid
          .row
            .span12
              %h1
                = link_to t('commits_io'), root_path, class: 'brand'
              %p
                Show that you are the best in commiting!
      .content
        = render :partial => 'layouts/web/shared/flash', :object => flash
        = yield
      .main-footer
    .footer
      = render :partial => 'layouts/web/shared/footer'
